$color-font: #2d3448;
$color-background: #fffaf2;
$color-background-secondary: #ffffff;

$color-error: #eb5757;
$color-shadow: rgba(209, 209, 209, 0.2);
$color-overlay: rgba(0, 0, 0, 0.25);

$vp-laptop: 1440px;
$vp-tablet: 1024px;
$vp-mobile: 768px;

$z-menu: 5;
$z-overlay: 10;
$z-popup: 20;
