@use "../../../assets/scss/mixins.scss" as *;

.news-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  column-gap: 2%;
  row-gap: 32px;

  list-style: none;
  padding-left: 0;

  &__item {
    min-height: 300px;
  }

  @include vp-mobile {
    display: block;
  }
}
