@use "../../../assets/scss/mixins.scss" as *;

.news-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  column-gap: 2%;
  row-gap: 2rem;

  list-style: none;

  padding-left: 0;

  &__item {
    min-height: 18.75rem;
  }

  @include vp-mobile {
    display: block;

    &__item {
      min-height: auto;

      margin-bottom: 1.25rem;
    }
  }
}
