@use "../../../assets/scss/variables.scss" as *;
@use "../../../assets/scss/mixins.scss" as *;

.search {
  display: flex;
  flex-direction: column;

  width: 30%;

  & input {
    font-family: inherit;
    font-size: inherit;

    width: 100%;
    min-height: 2.5rem;

    padding: 0.5rem 0.75rem;

    border: 0.0625rem solid $color-font;
    border-radius: 0.5rem;
    background-color: transparent;

    &:hover,
    &:focus {
      outline: none;
      background-color: $color-background-secondary;
    }
  }

  @include vp-mobile {
    width: 100%;
  }
}
