@use "../../assets/scss/mixins.scss" as *;

.news {
  &__header {
    font-size: 2rem;
  }

  &__toolbar {
  }

  &__tools-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__create {
    margin-left: auto;
  }

  &__news-section {
  }

  @include vp-mobile {
    flex-direction: column;

    &__tools-wrapper {
      display: block;
    }

    &__create {
      position: fixed;
      right: 1rem;
      bottom: 1rem;
    }
  }
}
