@use "../../../assets/scss/variables.scss" as *;
@use "../../../assets/scss/mixins.scss" as *;

.not-published {
  position: relative;
  & input {
    position: absolute;

    top: 0;
    left: 0;
    opacity: 0;
  }

  & label {
    position: relative;

    font-size: 1.25rem;

    padding-left: 1.75rem;

    cursor: pointer;

    &::before {
      content: "";

      position: absolute;
      top: 0.125rem;
      left: 0;

      width: 1.25rem;
      height: 1.25rem;

      border: 0.0625rem solid $color-font;
      border-radius: 0.125rem;
    }

    & svg {
      display: none;

      position: absolute;

      left: -0.1875rem;
      top: -0.125rem;
    }

    &:hover::before {
      background-color: $color-background-secondary;
    }
  }

  input:checked + label svg {
    display: block;
  }

  &--news {
    margin-left: 1.25rem;
  }

  @include vp-mobile {
    & label {
      font-size: 1rem;

      &::before {
        top: -0.125rem;
      }

      & svg {
        top: -0.375rem;
      }
    }

    &--news {
      margin-top: 1.25rem;
      margin-left: 0;
    }
  }
}
